{%extends 'layout.html'%}

{%block menu%}
<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/users/signin">Iniciar Sesion<span class="sr-only"></span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/users/signup">Registrarse<span class="sr-only"></span></a>
    </li>
</ul>
{%endblock%}
        
{%block body%}
<div class="row mt-5">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Se ha registrado el usuario, se envió un mensaje a tu correo registrado con un link de Activación, por favor verifica</h5>
                <form name="frmActivar class="mt-5" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="input-usuario">Usuario</label>
                            <input type="text" class="form-control" id="input-usuario" value="User001" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="input-correo">Correo</label>
                            <input type="text" class="form-control" id="input-correo" value="User001@mail.com" disabled>
                        </div>
                    </div>

    <div class="row mt-4">
                        <span class="mx-auto">
        <button class="btn btn-success mx-auto">Reenviar Correo</button>
    </div>    
        <div class="row mt-4">
                        <span class="mx-auto"><a
                                href="/users/signin">Inicio de Sesión</a></span>
                       </div>   
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}