{%extends 'layout.html'%}

{%block menu%}
<ul class="navbar-nav ml-auto">
  <li class="nav-item active">
    <a class="nav-link" href="index.html">Inicio<span class="sr-only"></span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" onclick="location.href='index.html'">Cerrar Sesion</a>
  </li>
</ul>
{%endblock%}

{%block body%}
<div class="row mt-5">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Actualizar Contraseña</h5>
        <form action="/users/update" class="mt-5" method="POST">
          <div class="row">
            <div class="col-md-12">
              <label for="input-usuario">Contraseña</label>
              <input type="text" name="password" class="form-control" id="input-correo">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="input-correo">Nueva Contraseña</label>
              <input type="text" name="newpassword" class="form-control" id="input-correo">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="input-ccorreo">Repetir Contraseña</label>
              <input type="text" name="cnewpassword" class="form-control" id="input-ccorreo">
            </div>
          </div>
          <div class="row">
            <button class="btn btn-primary mx-auto mt-4" type="submit">
              Actualizar Datos
            </button>
          </div>
          <div class="row">
            <button class="btn btn-danger mx-auto mt-4" type="submit">
              Dar de Baja
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}