{%extends 'layout.html'%}

{%block menu%}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="index.html">Inicio<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="location.href='index.html'">Cerrar Sesion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d" href="#" tabindex="-1" onclick="location.href='ddv.html'">Actualizar
                Datos</a>
        </li>
    </ul>
{%endblock%}

{%block body%}       
    <div class="row mt-4">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Descargar Imagen</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ url_for('static', filename='img/tour-eiffel-5210486_1920.jpg') }}" class="card-img-left img-thumbnail" alt=""
                                    srcset="">
                        </div>
                        <div class="col-md-6">
                            <form action="">

                                <div class="form-group">
                                    <h5>Titulo</h5>
                                </div>
                                <div class="form-group">
                                    <h6>Autor</h6>
                                </div>
                                <div class="form-group">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium ipsum molestiae culpa temporibus asperiores sunt adipisci excepturi dignissimos minima quam?</p>
                                </div>
                                <div class="form-group">
                                    <ul>
                                        <li>Tag #1</li>
                                        <li>Tag #2</li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <a href="/image/downloadImage" class="btn btn-primary mx-auto">Descargar</a>
                                    <button class="btn btn-danger">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}