<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleM.css">
</head>
<body>
    <div class="imagebackground">
        <img src="img/tour-eiffel-5210486_1920.jpg" width="300" height="400" class="imagen">
        <div class="contend">
            <label>Autor</label>
            <input type="text" value="Mariacmejj">
            <br>
            <br>
            <label>Título</label>
            <input type="text" value="Paris Eiffel Tower">
            <br>
            <br>
            <label>Descripción</label>
            <textarea>Historical Landmark in Paris at night</textarea>
            <br>
            <br>
            <label>Tags</label>
            <input type="text" placeholder="Tags" value="Paris, Eiffel">
            <br>
            <br>
            <input type="submit" value="Cancelar" onclick="location.href='search.html'">
            <input type="submit" value="Descargar" >
        </div>
    </div>
</body>
</html>