{%extends 'layout.html'%}

{%block menu%}
    
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Inicio<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/logout">Cerrar Sesion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d" href="#" tabindex="-1" onclick="location.href='ddv.html'">Actualizar
                Datos</a>
        </li>
    </ul>
{%endblock%}

{%block body%}       
    {%if image%}
    <div class="row mt-4">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Modificar Imagen</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/static/files/images/{{image[4]}}" class="card-img-left img-thumbnail" alt=""
                                    srcset="">
                        </div>
                        <div class="col-md-6">
                            <form action="/image/modify/{{image[0]}}" method="POST">
                                <div class="form-group">
                                    <label for="titulo">Titulo</label>
                                    <input type="text" class="form-control" name="titulo" id="titulo" value="{{image[1]}}">
                                </div>
                                <div class="form-group">
                                    <label for="descripcion">Descripcion</label>
                                    <textarea class="mx-auto form-control" name="descripcion" id="descripcion" cols="57"
                                        rows="5">{{image[2]}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="tags">Tags</label>
                                    <input type="text" id="tags" class="form-control" name="tags" value="{{image[3]}}">
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="privada">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Privada
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Modificar</button>
                                    <a href="/users/perfil" class="btn btn-primary">Cancelar</a>
                                    <a href="/image/delete/{{image[0]}}" class="btn btn-danger">Eliminar</a>
                                    <a href="/image/download/{{image[0]}}" class="btn btn-info">Descargar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
{%endblock%}