{% extends 'layout.html' %}

{%block menu%}
<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="signup">Registrarse<span class="sr-only"></span></a>
    </li>
</ul>
{%endblock%}

{% block body %}
<div class="row mt-5">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Inicia Sesion</h5>
                <form name="frmReguister" action="/users/signin" class="mt-5" method="POST">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-md-12">
                            <label for="input-usuario">Usuario</label>
                            {{form.usuario(class="form-control", id="input-usuario")}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="input-password">Contraseña</label>
                            {{form.password(class="form-control", id="input-password")}}
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary mx-auto mt-4" type="submit">
                            Iniciar Sesion
                        </button>
                    </div>
                    <div class="row mt-4">
                        <span class="mx-auto">¿No tienes una cuenta? <a href="/users/signup">Registrate</a></span>
                        <p class="text-center mx-auto"><span class="mx-auto">O</span> <br> <a class="text-center"
                                href="/users/recover">Recupera Contraseña</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
