{%extends 'layout.html'%}

{%block menu%}
<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/signin">Iniciar Sesion<span class="sr-only"></span></a>
    </li>
</ul>
{%endblock%}

{%block body%}
<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Registrate</h5>
                <form name="frmReguister" class="mt-5" method="POST" action="/users/signup">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="input-name">Nombre</label>
                            <input type="text" id="input-name" class="form-control" name="name">
                        </div>
                        <div class="col-md-6">
                            <label for="input-usuario">Usuario</label>
                            <input type="text" id="input-usuario" class="form-control" name="user">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="input-clave">Clave</label>
                            <input type="password" id="input-clave" class="form-control" name="password">
                        </div>
                        <div class="col-md-6">
                            <label for="input-cclave">Confirmar Clave</label>
                            <input type="password" id="input-cclave" class="form-control" name="cpassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="input-correo">Correo</label>
                            <input type="text" class="form-control" id="input-correo" name="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="input-ccorreo">Confirmar Correo</label>
                            <input type="text" class="form-control" id="input-ccorreo" name="cemail">
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary mx-auto mt-4" type="submit">
                            Registrar
                        </button>
                    </div>
                    <div class="row mt-4">
                        <span class="mx-auto">¿Ya tienes una cuenta? <a href="signin">Inicia
                                Sesion</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}