{%extends 'layout.html'%}

{%block menu%}
<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/signin">Iniciar Sesion<span class="sr-only"></span></a>
    </li>
</ul>
{%endblock%}

{%block body%}
<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Registrate</h5>
                <form name="frmReguister" class="mt-5" method="POST" action="/users/signup">
                    <div class="row">
                        {{ form.csrf_token }}
                        <div class="col-md-6">
                            <label for="input-name">Nombre</label>
                            {{form.nombre(class="form-control", id="input-name")}}
                        </div>
                        <div class="col-md-6">
                            <label for="input-usuario">Usuario</label>
                            {{form.usuario(class="form-control", id="input-usuario")}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="input-clave">Clave</label>
                            {{form.password(class="form-control", id="input-clave")}}
                        </div>
                        <div class="col-md-6">
                            <label for="input-cclave">Confirmar Clave</label>
                            {{form.confirmPassword(class="form-control", id="input-cclave")}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="input-correo">Correo</label>
                            {{form.email(class="form-control", id="input-correo")}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="input-ccorreo">Confirmar Correo</label>
                            {{form.confirmEmail(class="form-control", id="input-ccorreo")}}
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary mx-auto mt-4" type="submit">
                            Registrar
                        </button>
                    </div>
                    <div class="row mt-4">
                        <span class="mx-auto">¿Ya tienes una cuenta? <a href="/users/signin">Inicia
                                Sesion</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}