{%extends 'layout.html'%}

{%block menu%}
{%endblock%}

{%block body%}
<div class="row mt-5">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">El Usuario ha sido activado con exito, por favor inicia sesion para ingresar a Pictor por primera vez</h5>
                <div class="row mt-4">
                    <span class="mx-auto"><a href="/users/signin">Inicio de Sesión</a></span>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}